/results
/dataset
/data/data
**/__pycache__
temp
**/temp
**/checkpoints
**/result
**/data
**/data_paperpnp
**/result_paper
**/_result
resultpaper
**/model-outputs
**/tensorboard_logs
*.out
*.tar
*.pth
*.pyc
*.swp
*.npy
*.pickle
*.tiff
**/3DMRGB_F86.mat
**/blocks.mat
**/4D_Lego.mat
*.npz
*.npy
*.mod
*.svg
*.egg
*.o
*.zip
/expdata
/video
/other/paper/MakeAVI-0.11/
expdata20210930
expdata20220723
expdata20220723_2/
*.asv
mario.mat
.idea
