/results
/dataset
/data/data
**/__pycache__
temp
**/temp
**/result
**/_result
*.out
*.tar
*.pth
*.pyc
*.swp
*.npy
*.pickle
*.tiff
**/3DMRGB_F86.mat
**/blocks.mat
**/4D_Lego.mat
*.npz
*.npy
*.mod
*.svg
*.egg
*.o
