/results
/dataset
/data/data
**/__pycache__
temp
**/temp
*.out
*.tar
*.pth
*.pyc
*.swp
*.npy
*.pickle
*.tiff
**/3DMRGB_F86.mat
**/blocks.mat
**/4D_Lego.mat
*.npz
*.npy
*.mod
*.svg
S2_flow_predict/S2_result/
S2_flow_predict/S2.5_result/
*.pth
